@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 130, 226);
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./img/header.png') no-repeat;
  background-size: cover;
  background-position: center top;
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
}

.wrapper-btn {
  color: aliceblue;
  position: relative;
  width: 100%;
}

.gif-two {
  max-width: 300px;
  margin: 20px;
}

.gif-one {
  max-width: 300px;
  margin: 20px;
}

.home-btn {
  background: url('./img/sultan.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  padding: 50px 50px;
  position: absolute;
  z-index: 100;
  margin: 20px;
}

.modal {
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(251, 136, 255);
}

.myxe {
  max-width: 350px;
}

.myxe-btn {
  padding: 20px 50px;
  border-radius: 20px;
  background-color: aliceblue;
  float: right;
}